
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style type="text/css">
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="font-family: 'Open Sans', sans-serif; font-weight: 400; -webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: white; width: 100% !important;">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="margin: 0;padding: 0;background-color: white;height: 100% !important;width: 100% !important;">
            <tbody>
                <tr>
                    <td align="left" valign="top" style="padding-bottom: 40px;border-collapse: collapse;">
                        <!-- // BEGIN CONTAINER -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer">
                            <tbody>
                                <tr>
                                    <td align="left" valign="top" style="border-collapse: collapse;">
                                        <!-- // BEGIN HEADER -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader" style="background-color: #F8F8F8;border-top: 21px solid #FFCE02;"></table>

                                        <img src="cid:header" style="float:right; margin-top: 25px;" />
                                        <!-- END HEADER \\ -->
                                    </td>


                                </tr>
                                <tr>
                                    <td align="left" valign="top" style="border-collapse: collapse; width:96%">
                                        <!-- // BEGIN BODY -->
                                        <main class="main-container" role="main" style="padding-top: 10px;    margin-left: 43px;">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h1 style="text-align:center; font-size:2.5em">Green</h1>
                                                        <h3 style="text-align:center; font-size:1.5em">Frutas Verduras y tole tole</h3>
                                                        <br />
                                                        <h1 style="text-align:left; font-size:1.8em">Bienvenido</h1>
                                                        <br><br><br>
                                                        <div style="font-size:1.6em">
                                                            Se ha creado un usuario en la app Green
                                                            <br><br><br>

                                                            <h3 style="text-align:left; font-size:1em"></h3>
                                                            <br><br><br>

                                                            <table border="0" cellpadding="0" cellspacing="0" class="upperTemplateButton" style="background-color: #ffce02;border-radius:5px;border: 1px solid rgb(215, 182, 42);margin-left: auto; margin-right: auto">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" valign="middle" class="upperTemplateButtonContent" style="padding-top: 10px;padding-right: 15px;padding-bottom: 10px;padding-left: 15px;border-collapse:collapse;color:#ffffff;font-size:31px;text-align:center;text-decoration:none;">
                                                                            <a href="{{Direccion}}" style="color:#ffffff;font-size: 29px;font-weight:normal;text-align:center;text-decoration:none;" target="_blank"><b>Ingresar al Sistema</b></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <h4><b>Usuario:</b></h4>
                                                            {{Email}}<br>
                                                            <h4><b>Contraseña:</b></h4>
                                                            {{Password}}<br>
                                                            <br>
                                                            <br />
                                                            Estamos trabajando para que tus compras sean cada vez más simples. Ante cualquier consulta podes escribirnos a: <b>alvi@green.com.ar</b>
                                                            <br />
                                                            <div style="float:right;font-style: italic">.</div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </main>
                                        <!-- END BODY \\ -->
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" style="border-collapse: collapse;">

                                        <img src="cid:footer" style="width:96%; margin-top: 25px;" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
    </center>

</body>
</html>